* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FBFB29;
    height: 200px;
  }

.logo img{
    width: 100px;
    margin-left: 5%;
    justify-content: center;
    margin-bottom: 10px;
    
}

.slogan {
    display: flex;
   


}

.carrinho {
    display: flex;
}